PORT=3000
DB_TYPE=sqljs
SQLJS_LOCATION=.data/fastfood-kitchen.sqlite
DB_SYNCHRONIZE=true
DB_LOGGING=true
SEED_ON_BOOT=true
DEMO_ADMIN_USERNAME=admin
DEMO_ADMIN_PASSWORD=admin1234
JWT_SECRET=dev-secret
JWT_EXPIRES_IN=7d
